.alertSuccess {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
  }
  .alertWrong {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  .alertDatabaseWarning{
    padding: 20px;
    background-color: #d3a239;
    color: white;
  }
  .closeButton {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closeButton:hover {
    color: black;
  }
  